desc "Watch .js and compiles to public/"
task :watch do
  require 'fssm'
  Rake::Task['build'].invoke
  FSSM.monitor('./', '*.js') do
    update do |base, relative|
      sh "closure --js #{relative} --js_output_file ./public/javascripts/#{relative.gsub(".js",".min.js")}"
    end
  end
end

desc "Compiles .js to public/"
task :build do
  relative = '<%= name %>.js'
  sh "closure --js #{relative} --js_output_file ./public/javascripts/#{relative.gsub(".js",".min.js")}"
end